
body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    padding: 25px;
}

header {
    border-bottom: 1px solid #000000;
	overflow: hidden;
	width: 100%;
	text-align: right;
}

header h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 10px;
    text-align: right;
}

header h2 {
    font-size: 18px;
    font-weight: 100;
    line-height: 10px;
}

header a {
}

main {
    margin-top: 25px;
    ont-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    text-align: center;
}

h1, h2, h3, p {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    text-align: center;
}

h3 {
    line-height: 14px;
    font-size: 13px;
}

p {
    text-align: left;
    font-size: 13px;
}

a:link {
    color: black;
}

a:hover {
    color: gray;
}

a:visited {
    color: black;
}

footer {
    margin-top: 5px;
    border-top: 1px solid #000000;
	overflow: hidden;
	width: 100%;
	text-align: right;
}

footer a {
    line-height: 30px;
    text-decoration: none;
}

.container {
    position: relative;
}

.futura {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 6vw;
}

.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    padding-right: 0px;
    font-size: 6vw;
}