<!doctype html>
<html lang="en">
{% load static %}
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>About</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>

    <header>
        <a href="{% url 'home' %}"><img src="{% static 'AvM-Logo.png' %}" height="55"></a>
        <h1>ART via MUSIC</h1>
    </header>


        <main>
            <div>
                <h1>What is this?</h1>
                <p>ART is as old as humanity. Anthropologists have discovered societies without written language but never one without music. Consciousness and humanity are inextricably linked to art, it makes us feel, it helps us transcend the common concerns of our mundane day to day experience. Art moves our spirit, it gives us new emotion, and in doing so enlightens us as to the potential depth of how we can feel.
​
                    In the contemporary world, the most popular and accessible form of art is music. Most of us have experienced the emotional impact this art form can deliver: crystalizing vague and abstract thoughts, ideas, and feelings - all the while connecting us to individuals from another time or place.</p>
​
                <p>WHAT we want to do with this project is demonstrate that visual art - painting, sculpture, architecture, etc. - can evoke the same phenomena. These great mediums for expression have been driving forces behind the human impulse to create and consume art across time and space. Today, however, most of us have spent the majority of our lives seeing painting as an archaic remnant of the past and an object with which to decorate a home.

We feel that pairing music with a piece of art helps a person to realize that they can get that same thing from painting that they are already getting from music. And even if you already love painting, combining it with a piece of music almost always seems to bring something new out of it.</p>
                <h1>How to use AvM</h1>
                <p>If you enjoy our site, you are doing it right. There truly are no rules. With that being said, our suggestion for full immersion into the pieces and maximum acquisition of vibes is: start the music, make the painting occupy as much of your screen as possible, and gaze at it for the entire duration of the song. This may challenge your attention span, but we think that ultimately you will find it stimulating, enjoyable, and rewarding.</p>
            </div>
        </main>


        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'popper.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>

    </body>
</html>


