<!doctype html>
<html lang="en">
{% load static %}
{% load rand %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:image" content="{% static 'AvM-Logo.png' %}">
        <link rel="icon" href="../../../../favicon.ico">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <title>Art via Music</title>
    </head>

    <body>

        <header>
            <a href="{% url 'home' %}"><img src="{% static 'AvM-Logo.png' %}" height="55"></a>
            <h1>ART via MUSIC</h1>
        </header>

        <main>
            <div>
                {% for job in jobs.all %}
                <div div class="container">
                    <a href="{% url 'detail' job.id %}">
                        <img src={{ job.image.url }} width="100%"">
                        <div class="text-block">
                            <p class="futura">{{ job.summary}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>

        <footer>
            <a href="{% url 'about' %}">About</a>
        </footer>

        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'popper.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>

    </body>
</html>


